*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
.mdl-layout__header--scroll .mdl-layout__header-row {
  width: 100%;
  background-color: #9acd32 !important;
}
.landing-grid-container, .aboutme-container, .projects-container{
  text-align: center;
  margin-top: 2em;
}
.mdl-layout-title:hover{
  animation: bounce 1s infinite;
}
.header-link, .drawer-link{
  text-decoration: none;
  color: #222;
}
.header-link:hover, .drawer-link:hover{
  text-decoration: none;
  color: #222;
 
}
.material-icons {
  color: #222;
}
.drawer-link{
  color: #222;
}
.mdl-layout__header-row .mdl-navigation__link:hover {
    text-decoration: none;
}
.mdl-layout__drawer.is-visible {
  background-color: #9acd32;
}
 .drawer-link{
  color: #222 !important;
  opacity: 1;
  transition: all 0.5s;
}

.mdl-navigation__link{
  color: #222 !important;
  transition: all 0.5s;
  font-size: 1em;
  border-bottom: 3px solid transparent;
}
.mdl-navigation__link:hover{
  background-color:#222 !important;
  text-decoration: none;
  font-size: 1.2em;
  color:#9acd32!important;
  font-weight: 800;
  line-height: 61px !important;
}
.mdl-navigation__link.active{
  background-color:pink !important;
  color:#222!important;
  font-size: 1em;
  line-height: 61px !important;
}

.avatar-img {
  height: 20em;
  padding: 2.1em 0em 2.2em 0em; 
  border-radius: 46%;
}
.Banner-text {
  background-color: yellowgreen;
  width: 100%;
  margin: 2em auto 0 auto;
  border-radius: 2em;
  padding: 2em;
  color: #222;
}
.Banner-text h1{
  font-weight: 600;
  text-shadow: 1px 1px 1px #222;
}
.nagi{
  display: block;
}
.Banner-text hr {
  width: 60%;
  margin: auto;
  border-top: 5px dotted #222;
}

.Banner-text p {
  padding: 1em;
  font-size: 1.4em;
  color: #222 !important;
  
}

.social-icons {
  display: flex;
  justify-content: space-around;
  padding-bottom: 2em;
  width: 75%;
  margin: auto;
}

.social-icons i {
  color: #222;
  font-size: 4em;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

/* *********************** Resume Component ************************ */

.resume-page{
  background-color: #fff;
}
.Timeline{
  color: #222;
}
.entry .title:before{
  background-color: #222 !important;
}
.timeLineItem {
  padding:1em
}
.timeLineItem h3, .timeLineItem h5{
  padding:0.2em 0.2em 0.2em 0em;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}
.timeLineItem h5{
  font-weight: 550;
}
.timelinneItem-content{
  font-size: 1.1em;
  font-family: "oxygen", sans-serif;
 
}
.timelinneItem-content li{
  margin-left:5%;
  list-style-type:circle;
}


/* *********************** Projects container ************************ */
.justify-content-center .nav .nav-pills{
  justify-content: center !important;
}
.nav-pills .nav-link {
  border-radius: .25rem;
  color: #9acd32;
  font-size: 1.3rem;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #222 !important;
  background-color: #9acd32 !important;
}
.aboutme-container, .contact-container, .project-container {
  height: 100%;
  width: 100%;
  margin: auto;
  padding-top: 2.5%;
  color: #222;
}
.main-name-container{
  background-color: yellowgreen;
  display: flex;
  justify-content: center;
}
.main-project-container{
  background-color: yellowgreen;
  text-align: center;
}
.name-container{
  margin: auto;
  padding: 3% 0% !important;
  width: 80%;
  height: 100% !important;
}
.name-container .ListItemContent{
  font-size:1.5em;
  font-Family:"Anton"; 
  padding:0px 0px 0.8% 2%
}
.ListItemContent a, .ListItemContent a:hover{
  text-decoration: none;
  color: #222;
  font-size:1.3rem;
}
.name-container .fa{
  font-size:2rem;
}
.name-container .summary{
   font-family: "anton", sans-serif; 
}

.name-container-1 {
  margin: auto;
  text-align: center;
}

.name-container-1 h2,
.name__container h2 {
   font-family: "anton", sans-serif; 
   text-align: center;
}

.name-container-1 p {
  padding: 1% 10% 0px 10%;
  font-family: "oxygen", sans-serif;
  text-align: justify;
  font-size: 1.1em;
}
.name__container-content{
  padding: 1.2em 0px 0px 0px !important;
} 
.name__container-content p {
  font-size: 1.1em;
}
.name-container .skillset{
  font-family: "oxygen", sans-serif; 
  font-weight: bold;
}
.name__container {
  margin: 0 auto;
  text-align: justify;
  justify-content: center;
}
.name__container-2{
  padding-top: 1em;
}
.name__container hr {
  color: #fff;
  width: 50%;
  margin: auto;
  border-top: 5px dotted #fff;
}
.name__container i {
  padding-right: 1em;
}
.aboutme-container{
  overflow-y: auto;
}
 .name-container {
  background-color:yellowgreen;
}
.contact-details{
  text-align: center;
}
#project-button {
  border: none !important;
  background-color: transparent !important; 
}
#project-button a{
  background-color: transparent !important;
  border-radius: 25px !important;
  color: #222 !important;
  border: 1px solid #222;
  padding: 0.5em 1em;
  transition: ease-in-out 0.5s all;
}
#project-button a:hover{
  color: #9acd32 !important;
  background-color: #222 !important;
}
.img-hover-zoom {
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}
.img-hover-zoom img {
  transition: transform 1s, filter 2s ease-in-out;
  transform: scale(1.2);
}
.img-hover-zoom:hover img {
  transform: scale(1);
}

          /* ******Animation********* */
          @keyframes bounce {
            0% {
              transform: translateY(0px);
            }
            20% {
              transform: translateY(0px);
            }
            0% {
              transform: translateY(0px);
            }
            50% {
              transform: translateY(5px);
            }
            60% {
              transform: translateY(0px);
            }
            70% {
              transform: translateY(0px);
            }
            80% {
              transform: translateY(0px);
            }
            90% {
              transform: translateY(0px);
            }
            100% {
              transform: translateY(0px);
            }
          }
         /* *********Media quaries**************** */

@media screen and (max-width: 1024px) {
  .mdl-layout__drawer-button {
    color: #fff !important;
  }
  .landing-grid-container{
    height: 100%;
  }
}

@media screen and (max-width: 992px) {

  .material-icons {
    color: #222;
  }

  .name__container h2, .name-container-1 h2{
    text-align: center !important;
    font-size: 1.5em;
  }
  #special-item {
    display: none !important;
  }
  .mdl-grid{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important; 
  }

}
@media (max-width: 839px) and (min-width: 480px)
{
  .mdl-cell .mdl-cell--12-col {
    margin:0 !important;
  }
  .name__container{
    padding: 0em 2.1em !important;
  }
  .name__container h2 {
    padding: 0.3em 0;
  }
}

@media only screen and (max-width: 600px) {
.Banner-text h1 {
  font-size: 2em;
}
.Banner-text { 
  padding: 2em; 
}

.Banner-text p {
  padding: 0.5em;
  font-size: 1em;
}
.social-icons {
  padding-bottom: 1em;
}
.social-icons i { 
  font-size: 1.5em;
}
.timeLineItem h3{
  font-size: 1.3rem;
}
.timeLineItem h5{
  font-size: 1.2rem; 
}
.ListItemContent a,.ListItemContent a:hover{
  font-size:1rem !important;
}
.name-container .fa{
  font-size:1.1rem !important;
}
.name-container-1 p {
   padding: 0px;
}
}