html, body {
  height: 100%;
}
body{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 41%, rgba(0,212,255,1) 100%);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
;
}
.landing-grid-container, .resume-contaner, .aboutme-container, .projects-container{
  text-align: center;
}
.header-color {
  overflow: hidden;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 41%, rgba(0,212,255,1) 100%);
}
.header-link, .drawer-link{
  text-decoration: none;
  color: white;
}
.drawer-link{
  color: #000;
}
.avatar-img {
  height: 250px;
  padding: 2.5em 0 2em 0;
  border-radius: 50%;
}
.Banner-text {
  background-color: yellowgreen;
  width: 75%;
  margin: 2em auto 0 auto;
  border-radius: 2em;
  padding: 2em;
  color: #000;
}

.Banner-text h1 {
  opacity: 0.8;
}

.Banner-text hr {
  width: 60%;
  margin: auto;
  border-top: 5px dotted #000;
}

.Banner-text p {
  opacity: 0.8;
  padding: 1em;
  font-size: 1.4em;
}

.social-icons {
  display: flex;
  justify-content: space-around;
  padding-bottom: 2em;
  width: 75%;
  margin: auto;
}

.social-icons i {
  color: #000;
  font-size: 4em;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

/* *********************** Projects container ************************ */

.projects-container .card-items{
  margin:2em ;
}

.card-items .card{
  width: 330px;
  margin: auto;
}
.card-items .card-title{
  color:#fff;
  height: 280px;
  background-image: url('./images/1566113415_maxresdefault-1140x641.jpg');
  background-position: center;
  background-size: cover;
}

.card-items .card-action{
  text-align: center;
}
.card-items .card-action a:hover{
  text-decoration: none;
}

.card-items .card-menu{
  color:#fff;
}
.aboutme-container, .contact-container {
  height: 100%;
  width: 100%;
  margin: auto;
  padding-top: 2.5%;
  color: #000;
}
.name-container{
  background-color: yellowgreen;
  margin: auto;
  text-align: center;
  width: 80%;
  height: 100%;
  
}
.name-container .ListItemContent{
  font-size:24px;
  font-Family:"Anton"; 
  padding:0px 0px 0.8em 2em
}
.name-container .fa{
  font-size:36px;
}



.name-container .summary{
   font-family: "anton", sans-serif; 
}

.name-container-1 {
  margin: auto;
  text-align: center;
}

.name-container-1 h2,
.name-container-2 h2 {
   font-family: "anton", sans-serif; 
}

.name-container-1 p {
  padding: 1em 10% 0px 10%;
  font-family: "oxygen", sans-serif;
  text-align: justify;
}
.name-container .skillset{
  /* font-family: "oxygen", sans-serif; */
  font-weight: bold;
}

.name-container-2 {
  margin: auto;
  text-align: justify;
  justify-content: center;
}

.name-container-2 hr {
  color: #fff;
  width: 50%;
  margin: auto;
  border-top: 5px dotted #fff;
}

.name-container-2 i {
  padding-right: 1em;
}
.resume-contaner, .aboutme-container{
  background-color: yellowgreen;
  overflow-y: auto;
}

.Resume-page-grid, .name-container {
  background-color:yellowgreen;
}

.Resume-page-grid h2{
  padding:1em 0;
  text-align: center;
  
}
.Resume-page-grid h2{
  margin-top:0px;
}
.Resume-page-grid .mail-style a{
  text-decoration: none;
  color: #000;
}
.Experience-grid-2 ul {
  padding-left: 0px;
}
.Experience-grid-2 ul li{
   list-style-type: none;
}

.Resume-page-grid h1{
  padding-left:0.2em;
}
.contact-details{
  text-align: center;
}

         /* *********Media quaries**************** */

@media screen and (max-width: 1024px) {
  .mdl-layout__drawer-button {
    color: #fff !important;
  }
  .landing-grid-container{
    height: 100%;
  }
}

@media only screen and (max-width: 600px) {
  
.Banner-text h1 {
  font-size: 2em;
}
.Banner-text { 
  padding: 2em; 
}

.Banner-text p {
  padding: 0.5em;
  font-size: 1em;
}
.social-icons {
  padding-bottom: 1em;
}
.social-icons i { 
  font-size: 2em;
}

}

@media only screen and(min-width: 840px){
  .mdl-grid, .Resume-page {
    padding: 8px;
}
}


